<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <title>
        Favourites
    </title>
    <script src="/cityInfo.js"></script>
    <script src="/bookmark.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <style type="text/css">
        .font {
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 25px;
        }

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 50%;
            padding: 5px;
            height: 100%;
        }

        .column2 {
            float: left;
            width: 50%;
            padding: 5px;
            height: 100%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .funwidth {
            float: left;
            width: 50%;

            height: 100%;
        }

        a:link,
        a:visited {
            background-color: green;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }


        a:hover,
        a:active {
            background-color: red;
        }

       .button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
    opacity: 1;
    background-color: red;
    
}
    </style>
</head>

<body onload="load();" style="height: 100%; background-color:#CEECF5;">
    <div style="background-color:#000000;">
        <div class="font" style="font-size:30px; color:white; padding-left: 20px; background-color:#000000;">City Weather & Restaurants</div>
        <br />
        <div class="font" style="width: 50%; height: 35px; color:white; float:left;  background-color:#000000; ">
            </a>
            <%= message %>
        </div>
        <div style="width: 50%;  color:white; float:right; background-color:#000000;">

            <button style="float:right;" type="button" class="pure-button " onclick="logout(); ">
 			            <i class="fas fa-minus-circle "></i>
   			                Logout&nbsp;
		                </button>

        </div>
    </div>

    <center>
        <div class="row" style="height: 100%;">
            <div class="column" style="background-color:#CEECF5;">


                <h1 class="font">All Favourites List</h1>

                <b><div id="allInfo" style="font-weight: bold;"></div></b>
            </div>


            <div class="column2" style="background-color:#CEECF5;">


                <div id="forecastInfo" style="font-weight: bold;"></div>

                <div id="restaurantsInfo" style="font-weight: bold;"></div>


            </div>
        </div>

    </center>
</body>

</html>
