<html style="height: 100%;">

<head>
    <title>Home</title>
    <!--<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>-->
    <script src="/cityInfo.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <style type="text/css">
        #number {
            width: 3em;
        }


        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 53%;
            padding: 5px;
            height: 100%;
        }
        
        .column2 {
            float: left;
            width: 47%;
            padding: 5px;
            height: 100%;
        }

        .funwidth {
            float: left;
            width: 50%;

            height: 15%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        a:link,
        a:visited {
            background-color: green;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }


        a:hover,
        a:active {
            background-color: red;
        }


        .font {
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 25px;
        }

        p {
            font-family: "Lucida Console", Monaco, monospace;
        }

        .pure-button {
            font-family: "Lucida Console", Monaco, monospace;

        }
    </style>
</head>

<body style="height: 100%;">
<!--onload="load();"-->
    <div style="background-color:#000000;">
        <div class="font" style="font-size:30px; color:white; padding-left: 20px; background-color:#000000;">City Weather & Restaurants</div>
        <br />
        <div class="font" style="width: 50%; height: 35px; color:white; float:left; padding-left:320px; background-color:#000000; ">
            </a>
            <%= message %>
        </div>
        <div style="width: 50%; height: 35px; color:white; float:right; background-color:#000000;">

           <button style="float:right;  type=" button " class="pure-button " onclick="logout();">
 			            <i class="fas fa-minus-circle "></i>
   			                Logout&nbsp;
		                </button>
		                <button style="float:right; type="button" class="pure-button" onclick="bookMark();">
            <i class="fas fa-minus-circle"></i> Favourites&nbsp;
            </button>
        </div>
    </div>
    <center>
        <div class="row">
            <div class="column" style="background-color:#CEECF5;">

                <div id="formdata" class="funwidth">
                    <form name="addform" class="pure-form">
                        <h1 class="font">Add City</h1>
                        <p><input type="text" name="cityname" placeholder="City Name" />&nbsp;<button type="button" class="pure-button" onclick="addcity();">
 			            <i class="far fa-plus-square"></i>
   			                Save
		                </button></p>

                    </form>
                </div>
                <div id="formdata" class="funwidth">
                    <form name="updateform" class="pure-form">
                        <h1 class="font">Update City</h1>
                        <p><input type="text" name="cityname" placeholder="City Name" />&nbsp;<button type="button" class="pure-button" onclick="updatecity();">
 			            <i class="fas fa-exchange-alt"></i>
   			                Update
		                </button></p>

                    </form>
                </div>
                <h1 class="font">All City Information</h1>

                <b><div id="allInfo" style="font-weight: bold;"></div></b>
            </div>


            <div class="column2" style="background-color:#CEECF5;">
                <div id="formdata" class="funwidth">
                    <form name="deleteform" class="pure-form">
                        <h1 class="font">Delete City</h1>
                        <p><input type="text" name="cityname" placeholder="City Name" />&nbsp;<button type="button" class="pure-button" onclick="deletecity();">
 			            <i class="fas fa-trash-alt"></i>
   			                Delete
		                </button></p>

                    </form>

                </div>
                <div id="formdata" class="funwidth">
                    <form name="searchform" class="pure-form">
                        <h1 class="font">Search City</h1>
                        <p><input type="text" name="cityname" placeholder="City Name" />&nbsp;<button type="button" class="pure-button" onclick="searchcity();">
 			            <i class="fas fa-search"></i>
   			                Search
		                </button></p>

                    </form>
                </div>
                
                <div id="cityInfo" style="font-weight: bold;"></div>
                
                <div id="forecastInfo" style="font-weight: bold;"></div>
                
                <div id="restaurantsInfo" style="font-weight: bold;"></div>
            </div>
        </div>
        </div>
    </center>
</body>

</html>
