<html lang="en">
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/util.css">
	<link rel="stylesheet" type="text/css" href="/main.css">


</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/bg.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" action="/login" method="post">

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
				
					<div align="center"><%= message %></div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
				<form action="/signup" method="post">
					<div class="container-login100-form-btn m-t-32" >
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	<script src="/searchCity.js"></script>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/animsition/js/animsition.min.js"></script>
	<script src="/bootstrap/js/popper.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/select2/select2.min.js"></script>
	<script src="/daterangepicker/moment.min.js"></script>
	<script src="/daterangepicker/daterangepicker.js"></script>
	<script src="/countdowntime/countdowntime.js"></script>
	<script src="/main.js"></script>

</body>
</div>
	<div id ="userInfo">
	</div>
</html>